/*
z-index



*/

* {
    margin: 0px;
    padding: 0px;
}
html {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	background-color: #f0f0f0;
	font-family: Helvetica,sans-serif;
	font-size: 13px;
	color: #3b3f48;
	/*-webkit-transform:translate3d(0,0,0);*/

}

img {
	border:none;
}
form {
	display: inline;
}

.logo-name {
	text-align: center;
	font-family: Molle, Helvetica;
	font-style: italic;
	font-size: 45px;
	letter-spacing: -2px;
	color: #000;
	margin-top: 40px;
	margin-bottom: 20px;
}

.logo-description {
	text-align: center;
	font-family: Open Sans, Helvetica;
	font-style: italic;
	font-weight: 200;
	font-size: 17px;
	/*letter-spacing: -1px;*/
	color: #5a5959;
	line-height: 21px;
	/*margin-bottom: 30px;*/
	margin: 0 40px 30px 40px;
}

.lists-grid {
	max-width: 1000px;
	/*min-width: 320px;*/
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.list-item-group {
	text-align: center;
	list-style-type: none;
}

.list-item{
	cursor: pointer;
	/*border: 1px solid #fff;*/
	background-color: #fff;
	width: 220px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 10px;


}

.list-item .description {
	width: 200px;
	height: 180px;
	background-color: #fff;
	position: absolute;
	z-index: 1;
	font-family: Open Sans, Helvetica;
	font-size: 16px;
	text-align: left;
	/*display: none;*/
	opacity: 0;
	color: #5a5959;
}

.list-item .content{
	background-color: #C3AE88;
	height: 150px;
	overflow: hidden;
	margin: 0;
	/*-webkit-transform:translate3d(0,0,0);*/
}
.list-item .name{
	text-align: left;
	font-family: Open Sans, Helvetica;
	font-size: 12px;
	color: #a2a2a2;
	padding-top: 10px;
}
/*
.list-item figure {
	width: 220px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
*/
.list-item img {
	width: 100%;
	object-fit: fill;


/*
	-webkit-perspective: 1000;
-webkit-backface-visibility: hidden;    
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;*/
}
/*.list-item:hover img {

	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
*/

.list-item .name-right {
	float:right !important;
	font-family: Open Sans, Helvetica;
	font-size: 12px;
	color: #5ec1fa;
}
.float-right {
	float:right !important;
}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.lists-grid {
		max-width: 750px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.lists-grid {
		max-width: 500px;
	}
	
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.lists-grid {
		max-width: 500px;
	}
	.col-xs-6 {
		width: 100%;
	}
	.list-item{
		width: 100%;
		height: auto;
	}

	.list-item .content{
		height: auto;
	}
}



.social-btns {
	text-align: center;
}

.btn-social-behance{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-behance.png) top;
}
.btn-social-behance:hover {
  background-position: bottom;
}
.btn-social-etsy{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-etsy.png) top;
}
.btn-social-etsy:hover {
  background-position: bottom;
}
.btn-social-facebook{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-facebook.png) top;
}
.btn-social-facebook:hover {
  background-position: bottom;
}
.btn-social-googleplus{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-googleplus.png) top;
}
.btn-social-googleplus:hover {
  background-position: bottom;
}
.btn-social-instagram{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-instagram.png) top;
}
.btn-social-instagram:hover {
  background-position: bottom;
}
.btn-social-linkedin{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-linkedin.png) top;
}
.btn-social-linkedin:hover {
  background-position: bottom;
}
.btn-social-pinterest{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-pinterest.png) top;
}
.btn-social-pinterest:hover {
  background-position: bottom;
}
.btn-social-tumblr{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-tumblr.png) top;
}
.btn-social-tumblr:hover {
  background-position: bottom;
}
.btn-social-twitter{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-twitter.png) top;
}
.btn-social-twitter:hover {
  background-position: bottom;
}
.btn-social-wordpress{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-wordpress.png) top;
}
.btn-social-wordpress:hover {
  background-position: bottom;
}
.btn-social-youtube{
	width: 28px;
	height: 28px;
	border: 0;
	cursor: pointer;
	background: url(../images/social-youtube.png) top;
}
.btn-social-youtube:hover {
  background-position: bottom;
}

.bottom {
	height: 100px;
}



